h1 {
    color: #ffff;
    font-size: 1.5rem;
    padding: 1rem;
    letter-spacing: -.05rem;
    font-weight: bold;
}

ul {
    display: flex;
    color: #ffff;
    font-variant: small-caps;
    font-size: 3.5rem;
    font-weight: 300;
    list-style-type: none;
    justify-content: space-between;
}

li {
    text-align: center;
    width:15rem;
}

a {
    color: #ffff;
    text-decoration: none;
    transition: all 0.5s;
}

a:hover {
    transform: scale(1.1);
}

.nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}