* {
  padding: 0;
  margin: 0; 
}

body {
  height: 100%;
  max-width: 100%;
}

h1 {
  color: rgba(255, 255, 255, 1);
  font-size: 1.5rem;
  padding: 1rem;
  letter-spacing: -.12rem;
  font-weight: bold;
}

ul {
  display: flex;
  font-variant: small-caps;
  font-size: 3.5rem;
  font-weight: 300;
  list-style-type: none;
}

li {
  text-align: center;
  width:15rem;
  cursor: pointer;
  transition: all 0.5s;
}

li:hover {
  transform: scale(1.1);
}

.nav {
  color: rgba(255, 255, 255, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: nav;
  animation-delay: 2.2s;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.nav_name {
  color: rgba(255, 255, 255, 0);
  animation-name: nav;
  animation-delay: 1.7s;
  animation-duration: .8s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0);
  color: rgba(0, 0, 0, 0);
  padding: 1rem;
  width: 30%;
  height: 25%;
}

.animation_text {
  color: rgba(255, 255, 255, 0);
  font-size: 3rem;
  letter-spacing: -.1rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.animation {
  animation-name: animation;
  animation-delay: .5s;
  animation-duration: 1.2s;
  animation-timing-function: ease-out;
}

.slide_left {
  color: rgba(255, 255, 255, 0);
  animation-name: slide_left;
  animation-duration: .8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.none {
  display: none;
}

#videoBG {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  filter: grayscale(100%);
}

.slide_left_container {
  animation-name: slide_left_container;
  animation-duration: .8s;
  animation-delay: .8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  background-color: rgba(255, 255, 255, 0);
  color: rgba(0, 0, 0, 0);
}

@keyframes animation {
  0% {
    letter-spacing: 5rem;
    color: rgba(255, 255, 255, 1);
  }
  50% {
    letter-spacing: 0;
  }
  75% {
    color: rgba(255, 255, 255, 1);
  }
  100% {
    color: rgba(255, 255, 255, 0);
  }
}

@keyframes nav {
  0% {
    color: rgba(255, 255, 255, 0);
  }
  100% {
    color: rgba(255, 255, 255, 1);
  }
}

@keyframes slide_left {
  0%{
    color: rgba(255, 255, 255, 1);
  }
  100%{
    color: rgba(255, 255, 255, 0);
    transform: translateX(-5rem);
  }
}

@keyframes slide_left_container {
  0%{
    background-color: rgba(255, 255, 255, 0);
    color: rgba(0, 0, 0, 0);
  }
  100%{
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
  }
}

@keyframes slide_back {
  100%{
    color: rgba(255, 255, 255, 1);
  }
}